<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alaska.test.mapper.TestMapper">

	<select id="getAll" resultType="com.alaska.test.dto.TestDto">
		SELECT *
		FROM alaska_layers
		ORDER
		BY local_name ASC
	</select>

	<!--getAll raster -->
	<!--getAll polygon -->
	<!--getAll point -->
	<!--getAll line -->

	<insert id="insertLayer"
		parameterType="com.alaska.test.dto.TestDto">
		INSERT INTO
		alaska_layers (local_name, data_name)
		VALUES(#{local_name},#{data_name})
	</insert>

	<!--insert into raster -->
	<!--insert into polygon -->
	<!--insert into point -->
	<!--insert into line -->

	<delete id="deleteLayer" parameterType="int">
		DELETE FROM alaska_layers
		WHERE layer_num IN (#{layer_num})
	</delete>

	<!--delete from raster -->
	<!--delete from polygon -->
	<!--delete from point -->
	<!--delete from line -->

	<select id="detailLayer" parameterType="int"
		resultType="com.alaska.test.dto.TestDto">
		SELECT *
		FROM alaska_layers
		WHERE
		layer_num = #{layer_num}
	</select>

	<!--raster layer detail -->
	<!--polygon layer detail -->
	<!--point layer detail -->
	<!--line layer detail -->

	<update id="updateLayer"
		parameterType="com.alaska.test.dto.TestDto">
		UPDATE alaska_layers
		SET
		local_name = #{local_name},
		data_name = #{data_name}
		WHERE layer_num = #{layer_num}
	</update>

	<!--update raster -->
	<!--update polygon -->
	<!--update point -->
	<!--update line -->

</mapper>